<div class="heading"><%= render 'shared/page_title', title: "#{@genre.name}" %></div>


<% if @genre.books.count !=0 %> 
  <h4 align="center">Books containing <%= @genre.name %></h4>

  <div align="center">
    <%= will_paginate @genre_books %>
  </div>

  <%= render 'books/book', obj: @genre_books %>

  <div align="center">
    <%= will_paginate @genre_books %>
  </div>
<% else %>
  <h4 align = "center">No books yet </h4>
<% end %>