<% obj.each do |book| %>
  <div class="row">
  	<div class="col-md-2">
  		<section class="author_info center">
        <%= gravatar_for(book.author, size: 120) %>
  			
  		</section>
  	</div>
  	<div class="col-md-8 well">
  	 <h4> <%= link_to book.name, book_path(book) %></h4>
     <p> <%= truncate(book.description , length: 150) %> </p>
     <p>
      <span class="quiet"><small>Created <%= time_ago_in_words(book.created_at) %> ago </small> </span>
     </p>
     <% if logged_in? && current_author == book.author %>
        <div class="book-actions">
          <%= link_to "Edit this book", 
                      edit_book_path(book), 
                              class: "btn btn-xs btn-warning" %>
          <%= link_to "Delete this book", book_path(book),  method: :delete,
                       data: { confirm: "Are you sure you want to delete this book?" },class: "btn btn-xs btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>


<% end %>