<%= render 'shared/page_title', title: @book.name %>

<div class="well col-md-8 col-md-offset-2">
  <h4 class="center description"><strong>Description: </strong></h4>
  <hr />
  <%= simple_format(@book.description) %>
  <hr />
  <% if @book.genres.any? %>
    <p>Genres: <%= render @book.genres %></p>
  <% end %>
  <hr />
  <div class="pull-right">
    <p class="center">
      <em>Authored by:</em>
    </p>
    <p class = "center">
      <%= link_to gravatar_for(@book.author), author_path(@book.author) %>
    </p>
    <p class = "center">
      <small> <%= @book.author.authorname.capitalize %></small>
      <!--<div class ="pull-right"><%= time_ago_in_words(@book.created_at) %> ago</div> -->
    </p>
    <p>
      <!--<small><%= @book.author.authorname %></small>-->
      <div class= "pull-right">authored: <%= time_ago_in_words(@book.created_at) %> ago
      </div>
    </p>
  </div>
  <div class="book-actions">
    <% if logged_in? && (current_author == @book.author || current_author.admin?) %>
      <%= link_to "Edit this book" , edit_book_path(@book) , class: "btn btn-xs btn-warning" %>
      <%= link_to "Delete this book", book_path(@book), method: :delete,
                                      data: { confirm: "Are you sure you want to delete?" },
                                      class: "btn btn-xs btn-danger" %>
    <% end %>
    <%= link_to "Return to books listing", books_path , class: "btn btn-xs btn-primary" %>
  </div>  
  </div>
</div>

<% if logged_in? %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>Comments: </h3>
      <hr />
      <%= form_for([@book, @comment], remote: true, :html => {class: "form-horizontal", 
                                                role: "form"}) do |f| %>
        <div class="form-group">
          <div class="control-label col-md-2">
            <%= f.label :description, "Comment" %>
          </div>
          <div class="col-md-8">
            <%= f.text_area :description, rows: 8, class: "form-control", placeholder: "Enter Comment Here" %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <%= f.submit "Submit Comment", class: "btn btn-primary btn-lg btn-xlarge" %>
          </div>
        </div>
      <% end %>
      <hr />
    </div>
  </div>
<% end %>

<% if @book.comments != 0 %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>Prior Comments: </h3>
        <div id="messages">
          <%= render partial: 'comments/comments', object: @comments %>
        </div>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>No Comments Yet!</h3>
    </div>
  </div>
<% end %>